* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
}
body {
  background-color: rgb(253, 252, 252);
}
.dot1 {
  height: 73px;
  width: 73px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 34px;
}
.dot2 {
  height: 73px;
  width: 73px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 34px;
}
.dot3 {
  height: 73px;
  width: 73px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 34px;
}
.dot4 {
  height: 73px;
  width: 73px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 34px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 44px;
  margin-left: 87px;
  margin-right: 94px;
}
.list-items {
  list-style: none;
  display: flex;
  column-gap: 40px;
  margin-left: 266px;
  margin-top: 5px;
}
.navbar img {
  height: 33px;
}
nav .list-item1 {
  font-weight: 600;
}
nav .list-item {
  color: rgb(129, 129, 129);
  font-weight: 400;
}
.btn {
  color: rgb(13, 179, 221);
  border-color: rgb(64, 223, 235);
  padding: 15px 32px 14px 35px;
  font-size: 17px;
  border-radius: 9px;
  margin-top: -13px;
  background-color: transparent;
  border-width: 1px;
  font-weight: 500;
  border-bottom-color: #0580ee;
  border-right-color: #0580ee;
  border-left-color: #0580ee;
  /* background-image: linear-gradient(to bottom, rgb(64, 223, 235), #0580ee); */
  background-image: linear-gradient(to bottom, rgb(56, 178, 226), #0580ee);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
}
.first-container .left-section h1 {
  margin-top: 133px;
  margin-left: 88px;
  font-size: 53px;
  line-height: 1.4;
}
.first-container .left-section h6 {
  margin-top: 29px;
  margin-left: 88px;
  font-size: 15px;
  color: grey;
  font-weight: 500;
  line-height: 2.1;
  word-spacing: 2px;
}
.btn1 {
  color: white;
  border-color: rgb(64, 223, 235);
  padding: 15px 32px 14px 35px;
  font-size: 16px;
  border-radius: 9px;
  margin-top: -13px;
  background-color: transparent;
  border-width: 1px;
  font-weight: 600;
  background-image: linear-gradient(to bottom, rgb(64, 223, 235), #0580ee);
  margin-left: 88px;
  margin-top: 39px;
  box-shadow: 4px 12px 20px rgb(159, 198, 201);
}
.right-section .rightimg {
  position: absolute;
  top: 194px;
  left: 767px;
}
.left-section .middleimg {
  position: absolute;
  top: 910px;
  left: -644px;
}
.second-container .right-section {
  position: absolute;
  top: 993px;
  left: 688px;
}
.second-container .right-section h1 {
  font-size: 49px;
  line-height: 1.3;
  word-spacing: -1px;
}
.second-container .right-section h6 {
  margin-top: 53px;
  margin-left: 1px;
  font-size: 15px;
  color: grey;
  font-weight: 500;
  line-height: 2.1;
  word-spacing: 2px;
}
.btn2 {
  color: white;
  border-color: rgb(64, 223, 235);
  padding: 15px 54px;
  font-size: 16px;
  border-radius: 9px;
  margin-top: -13px;
  background-color: transparent;
  border-width: 1px;
  font-weight: 600;
  background-image: linear-gradient(to bottom, rgb(64, 223, 235), #0580ee);
  margin-left: 1px;
  margin-top: 39px;
  box-shadow: 4px 12px 20px rgb(159, 198, 201);
}
.Third-container .left-section {
  position: absolute;
  top: 1740px;
  left: 96px;
}
.Third-container .left-section h1 {
  font-size: 50px;
  line-height: 1.3;
  word-spacing: -1px;
}
.Third-container .left-section h6 {
  margin-top: 29px;
  margin-left: 1px;
  font-size: 15px;
  color: grey;
  font-weight: 500;
  line-height: 2.1;
  word-spacing: 2px;
}
.btn3 {
  color: white;
  border-color: rgb(64, 223, 235);
  padding: 15px 54px;
  font-size: 16px;
  border-radius: 9px;
  margin-top: -13px;
  background-color: transparent;
  border-width: 1px;
  font-weight: 600;
  background-image: linear-gradient(to bottom, rgb(64, 223, 235), #0580ee);
  margin-left: 1px;
  margin-top: 17px;
  box-shadow: 4px 12px 20px rgb(159, 198, 201);
}
.Third-container .right-section img {
  position: absolute;
  top: 1630px;
  left: 670px;
  height: 615px;
}
.fourth-container {
  position: absolute;
  top: 2384px;
  left: 97px;
  display: flex;
  column-gap: 198px;
}
.fourth-container .left-section h1 {
  font-size: 50px;
  line-height: 1.3;
  word-spacing: -1px;
}
.fourth-container .right-section h6 {
  margin-top: 25px;
  margin-left: -79px;
  font-size: 15px;
  color: grey;
  font-weight: 500;
  line-height: 1.7;
  word-spacing: 2px;
}
.card-1 {
  position: absolute;
  top: 2570px;
  left: 98px;
  background-color: white;
  height: 265px;
  width: 372px;
  border-radius: 15px;
}
.card-2 {
  position: absolute;
  top: 2570px;
  left: 494px;
  background-color: white;
  height: 265px;
  width: 372px;
  border-radius: 15px;
}
.card-3 {
  position: absolute;
  top: 2570px;
  left: 890px;
  background-color: white;
  height: 265px;
  width: 372px;
  border-radius: 15px;
}
.card-4 {
  position: absolute;
  top: 2859px;
  left: 98px;
  background-color: white;
  height: 265px;
  width: 372px;
  border-radius: 15px;
}
.card-5 {
  position: absolute;
  top: 2859px;
  left: 494px;
  background-color: white;
  height: 265px;
  width: 372px;
  border-radius: 15px;
}
.card-6 {
  position: absolute;
  top: 2859px;
  left: 890px;
  background-color: white;
  height: 265px;
  width: 372px;
  border-radius: 15px;
}
.Fifth-container h2 {
  margin-top: 113px;
  z-index: 2;
  margin-left: 24px;
}
.Fifth-container h5 {
  margin-left: 24px;
  margin-top: 17px;
  font-size: 15px;
  color: grey;
  font-weight: 300;
  line-height: 1.7;
  word-spacing: -1px;
  text-shadow: 0px 0px 1px;
}
.Fifth-container .svg1 {
  position: absolute;
  top: 1833px;
  z-index: 6;
  left: -388px;
}
.Fifth-container .svg2 {
  position: absolute;
  top: 1833px;
  z-index: 6;
  left: -115px;
}
.Fifth-container .svg3 {
  position: absolute;
  top: 1833px;
  z-index: 6;
  left: 158px;
}
.Fifth-container .svg4 {
  position: absolute;
  top: 2024px;
  z-index: 6;
  left: -388px;
}
.Fifth-container .svg5 {
  position: absolute;
  top: 2017px;
  z-index: 6;
  left: -118px;
}
.Fifth-container .svg6 {
  position: absolute;
  top: 2019px;
  z-index: 6;
  left: 156px;
}
.big-blue {
  z-index: -5;
  height: 72vw;
  width: 100vw;
  background-image: linear-gradient(to bottom, #83c0f5, #0580ee);
  position: absolute;
  top: 3286px;
}
.sixth-container .top-heading {
  position: relative;
  margin-top: 2712px;
  margin-left: 291px;
  color: white;
  font-size: 50px;
}
.cards {
  display: flex;
  column-gap: 185px;
  margin-left: 135px;
  margin-top: 116px;
}
.white-left {
  position: absolute;
  top: 3494px;
  left: 98px;
  background-color: white;
  height: 727px;
  width: 372px;
  border-radius: 15px;
  z-index: -3;
}
.white-middle {
  position: absolute;
  top: 3494px;
  left: 494px;
  background-color: white;
  height: 727px;
  width: 372px;
  border-radius: 15px;
  z-index: -3;
}
.white-right {
  position: absolute;
  top: 3494px;
  left: 890px;
  background-color: white;
  height: 727px;
  width: 372px;
  border-radius: 15px;
  z-index: -3;
}
.white-middle-black {
  position: absolute;
  top: 3494px;
  left: 494px;
  background-color: black;
  height: 148px;
  width: 372px;
  border-radius: 15px;
  z-index: -2;
}
.card-middle h2 {
  color: white;
}
.card-middle h5 {
  color: white;
}
.cards h2 {
  font-size: 27px;
  margin-top: -28px;
  margin-left: -7px;
}
.cards h5 {
  margin-top: 20px;
  font-size: 17px;
  color: grey;
  font-weight: normal;
  word-spacing: 1.5px;
  margin-left: -7px;
}
.card-right h2 {
  font-size: 27px;
  margin-top: -28px;
  margin-left: -66px;
}
.card-right h5 {
  margin-top: 20px;
  font-size: 17px;
  color: grey;
  font-weight: normal;
  word-spacing: 1.5px;
  margin-left: -63px;
}
.cards ul {
  margin-top: 67px;
  font-weight: 600;
  word-spacing: 4px;
  line-height: 2.2;
  margin-left: 37px;
}
.cards h3 {
  margin-top: 94px;
  margin-left: 38px;
  font-size: 33px;
}
.cards h4 {
  margin-top: 15px;
  margin-left: 88px;
  font-size: 15px;
  color: grey;
  font-weight: normal;
  word-spacing: 1.5px;
  letter-spacing: 1.1px;
}
.btm-btn1 {
  color: rgb(13, 179, 221);
  border-color: rgb(64, 223, 235);
  padding: 15px 47px;
  font-size: 17px;
  border-radius: 9px;
  margin-left: 52px;
  margin-top: 36px;
  background-color: transparent;
  border-width: 1px;
  font-weight: 500;
  border-bottom-color: #0580ee;
  border-right-color: #0580ee;
  border-left-color: #0580ee;
  /* background-image: linear-gradient(to bottom, rgb(64, 223, 235), #0580ee); */
  background-image: linear-gradient(to bottom, rgb(64, 223, 235), #0580ee);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
}
.btm-btn2 {
  color: white;
  border-color: rgb(64, 223, 235);
  padding: 15px 47px;
  font-size: 16px;
  border-radius: 9px;
  margin-top: -13px;
  background-color: transparent;
  border-width: 1px;
  font-weight: 600;
  background-image: linear-gradient(to bottom, rgb(64, 223, 235), #0580ee);
  margin-left: 52px;
  margin-top: 36px;
  box-shadow: 4px 12px 20px rgb(159 198 201);
}
.btm-btn3 {
  color: rgb(13, 179, 221);
  border-color: rgb(64, 223, 235);
  padding: 15px 47px;
  font-size: 17px;
  border-radius: 9px;
  margin-left: 52px;
  margin-top: 36px;
  background-color: transparent;
  border-width: 1px;
  font-weight: 500;
  border-bottom-color: #0580ee;
  border-right-color: #0580ee;
  border-left-color: #0580ee;
  /* background-image: linear-gradient(to bottom, rgb(64, 223, 235), #0580ee); */
  background-image: linear-gradient(to bottom, rgb(64, 223, 235), #0580ee);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
}
.cards span {
  color: grey;
}
.cards ul {
  list-style: none;
  padding-left: 0;
}
/* .card-left ul li:before {
  content: "✓";
  color: green;
  position: absolute;
  left: 928px;
  width: 1em;
  height: 1em;
}
.card-middle ul li:before {
  content: "✓";
  color: green;
  position: absolute;
  left: 534px;
  width: 1em;
  height: 1em;
} */
/* .card-right ul li:before {
  content: "✓";
  color: green;
  position: absolute;
  left: 138px;
  width: 1em;
  height: 1em;
}
.card-right ul li:before {
  list-style-type: circle;
  border: 2px solid green;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
  height: 22px;
  width: 22px;
} */
.card-right ul li {
  list-style: none;
  margin: 1em 0;
}
.card-right ul li:before {
  content: "\2713";
  display: inline-block;
  position: relative;
  top: -4px;
  width: 14px;
  height: 14px;
  margin-right: 18px;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: green;
  border: 2px solid green;
  border-radius: 50%;
  text-align: center;
  margin-left: -39px;
}
.card-middle ul li {
  list-style: none;
  margin: 1em 0;
}
.card-middle ul li:before {
  content: "\2713";
  display: inline-block;
  position: relative;
  top: -4px;
  width: 14px;
  height: 14px;
  margin-right: 18px;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: green;
  border: 2px solid green;
  border-radius: 50%;
  text-align: center;
  margin-left: -39px;
}
.card-left ul li {
  list-style: none;
  margin: 1em 0;
}
.card-left ul li:before {
  content: "\2713";
  display: inline-block;
  position: relative;
  top: -4px;
  width: 14px;
  height: 14px;
  margin-right: 18px;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: green;
  border: 2px solid green;
  border-radius: 50%;
  text-align: center;
  margin-left: -39px;
}
.card-middle h2 {
  margin-left: -62px;
}
.card-middle h5 {
  margin-left: -61px;
}
.card-middle ul {
  margin-left: -20px;
}
.card-middle h3 {
  margin-left: -21px;
}
.card-middle h4 {
  margin-left: 29px;
}
.card-middle .btm-btn2 {
  margin-left: -6px;
}
.card-right h2 {
  margin-left: -59px;
}
.card-right h5 {
  margin-left: -57px;
}
.card-right ul {
  margin-left: -14px;
}
.card-right h3 {
  margin-left: -14px;
}
.card-right h4 {
  margin-left: 34px;
}
.card-right .btm-btn3 {
  margin-left: 0px;
}
.top-two {
  display: flex;
  column-gap: 94px;
  margin-top: 59px;
}
.bottom-two {
  display: flex;
  column-gap: 94px;
}
.seventh-container {
  margin-left: 125px;
  margin-top: 260px;
}
.seventh-container h1 {
  margin-left: 276px;
  font-size: 50px;
}
.seventh-container h5 {
  margin-top: 23px;
  margin-left: -177px;
  font-size: 16px;
  color: rgb(143, 142, 142);
  font-weight: normal;
  line-height: 1.7;
  word-spacing: 2px;
  text-align: center;
}
.seventh-container h3 {
  margin-top: 29px;
  margin-left: 1px;
  font-size: 15px;
  color: black;
  font-weight: 500;
  line-height: 1.7;
  word-spacing: 2px;
}
.top-left h2 {
  font-size: 16px;
  left: 214px;
  position: absolute;
  top: 4807px;
}
.top-right h2 {
  font-size: 16px;
  left: 822px;
  position: absolute;
  top: 4807px;
}
.bottom-left h2 {
  font-size: 16px;
  left: 214px;
  position: absolute;
  top: 5112px;
}
.bottom-right h2 {
  font-size: 16px;
  left: 822px;
  position: absolute;
  top: 5112px;
}
.top-left h4 {
  margin-left: 89px;
  margin-top: -40px;
  font-weight: normal;
  font-size: 14px;
}
.bottom-right h4 {
  margin-left: 89px;
  margin-top: -40px;
  font-weight: normal;
  font-size: 14px;
}
.bottom-left h4 {
  margin-left: 89px;
  margin-top: -40px;
  font-weight: normal;
  font-size: 14px;
}
.top-right h4 {
  left: 822px;
  position: absolute;
  top: 4840px;
  font-weight: normal;
  font-size: 14px;
}
.top-1 {
  z-index: -1;
  position: absolute;
  height: 277px;
  width: 576px;
  top: 4630px;
  background-color: white;
  border-color: black;
  border-radius: 15px;
  margin-left: -30px;
  border: 1px solid lightgrey;
  box-shadow: 3px 6px 14px;
}
.top-2 {
  z-index: -1;
  position: absolute;
  height: 277px;
  width: 576px;
  top: 4630px;
  background-color: rgb(253 252 252);
  border-color: black;
  border-radius: 15px;
  margin-left: 569px;
  border: 1px solid lightgrey;
}
.btm-1 {
  z-index: -1;
  position: absolute;
  height: 277px;
  width: 576px;
  top: 4931px;
  background-color: rgb(253 252 252);
  border-color: black;
  border-radius: 15px;
  margin-left: -30px;
  border: 1px solid lightgrey;
}
.btm-2 {
  z-index: -1;
  position: absolute;
  height: 277px;
  width: 576px;
  top: 4931px;
  background-color: rgb(253 252 252);
  border-color: black;
  border-radius: 15px;
  margin-left: 569px;
  border: 1px solid lightgrey;
}
.bottom-two {
  display: flex;
  column-gap: 94px;
  margin-top: 60px;
}
.top-right {
  margin-left: 28px;
}
.bottom-right {
  margin-left: 28px;
}
.bg-footer {
  height: 27vw;
  width: 100vw;
  position: absolute;
  top: 5341px;
  background-color: red;
  z-index: -3;
  margin-top: 24px;
}
.bg-footer {
  color: white;
  background: repeating-linear-gradient(
    -28deg,
    #50a1e9,
    #50a1e9 10px,
    rgb(56, 178, 226) 90px,
    rgb(56, 178, 226) 320px
  );
}
.eighth-container h1 {
  margin-left: 135px;
  margin-top: 282px;
  font-size: 50px;
  color: white;
}
.eighth-container h4 {
  margin-left: 132px;
  line-height: 1.6;
  word-spacing: 2px;
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin-top: 24px;
}
.eighth-container button {
  margin-left: 1123px;
  position: absolute;
  top: 5525px;
  color: white;
  border-color: white;
  padding: 15px 32px 14px 35px;
  font-size: 17px;
  border-radius: 9px;
  background-color: transparent;
  border-width: 1px;
  font-weight: 600;
  border: 1px solid white;
}
.nineth-container .logobtm {
  margin-top: 234px;
  margin-left: 20px;
  height: 32px;
}

.nineth-container h3 {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 15px;
  color: grey;
  font-weight: normal;
  line-height: 1.8;
  word-spacing: 3px;
}
.nineth-container .footer-heading {
  font-weight: 500;
  font-size: 15px;
  display: flex;
  column-gap: 138px;
  margin-left: 440px;
  margin-top: -140px;
}
.first-list {
  margin-left: 440px;
  list-style: none;
  line-height: 2.9;
  color: grey;
  font-size: 14px;
  margin-top: 13px;
}
.second-list {
  margin-left: 642px;
  list-style: none;
  line-height: 2.9;
  color: grey;
  font-size: 14px;
  margin-top: -164px;
}
.third-list {
  margin-left: 844px;
  list-style: none;
  line-height: 2.9;
  color: grey;
  font-size: 14px;
  margin-top: -161px;
}
.right-section-last :nth-child(1) {
  position: absolute;
  margin-top: -947px;
  margin-left: 817px;
}
.right-section-last :nth-child(2) {
  position: absolute;
  margin-top: -947px;
  margin-left: 818px;
}
.right-section-last :nth-child(3) {
  position: absolute;
  margin-top: -947px;
  margin-left: 818px;
}
.right-section-last :nth-child(4) {
  position: absolute;
  margin-top: -947px;
  margin-left: 818px;
}
