@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fdfeff;
}

ul {
  list-style: none;
}

.container {
  max-width: 1080px;
  margin: auto;
}

/* Navbar */

.btn-mobileMenu i {
  display: none;
  font-size: 25px;
  border: 2px solid rgba(5, 100, 234, 1);
  padding: 3px 6px;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

nav img {
  width: 70px;
  margin-right: auto;
}

.navigation li {
  display: inline-block;
  margin-right: 20px;
}

.navigation li a {
  text-decoration: none;
  color: #808080;
  font-size: 14px;
}

nav .btn-gradient-o {
  background: linear-gradient(
    90deg,
    rgba(9, 192, 248, 1) 0%,
    rgba(5, 100, 234, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid transparent;
  font-weight: 600;
  padding: 12px 19px;
  position: relative;
}

nav .btn-gradient-o::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 1px;
  background: linear-gradient(
    90deg,
    rgba(9, 192, 248, 1) 0%,
    rgba(5, 100, 234, 1) 100%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* Global */

.heading {
  font-size: 45px;
  line-height: 1.2;
  color: #14263f;
}

.description {
  font-size: 14px;
  color: #808080;
  line-height: 2;
  margin: 25px 0;
}

.btn-gradient {
  background: linear-gradient(
    45deg,
    rgba(9, 192, 248, 1) 0%,
    rgba(5, 100, 234, 1) 100%
  );
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.section-img {
  height: 350px;
}

/* Header */

section.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 200px;
}

.header .content-wrapper {
  width: 50%;
}

.header .img-wrapper {
  width: 50%;
}

/* Quality Section */

section.quality-testing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.quality-testing .img-wrapper {
  width: 55%;
}

.quality-testing .content-wrapper {
  width: 45%;
}

/* Technical Support */

section.tech-support {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.tech-support .content-wrapper {
  width: 50%;
}

/* Services */

section.services {
  margin: 200px 0;
}

section.services .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

section.services .content-wrapper .heading {
  width: 50%;
}

section.services .content-wrapper .description {
  width: 50%;
  padding: 0 85px;
}

.all-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  row-gap: 50px;
}

.service-box h3 {
  font-size: 20px;
  font-weight: 600;
  color: #14263f;
  margin: 20px 0;
}

.service-box p {
  font-size: 12px;
  line-height: 20px;
  color: #808080;
}

/* Pricing Plans */
section.pricing-plans {
  background: linear-gradient(
    45deg,
    rgba(9, 192, 248, 1) 0%,
    rgba(5, 100, 234, 1) 100%
  );
}
section.pricing-plans h2 {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  padding: 40px 0 0px;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 0 50px;
}

.plan-box {
  background: #ffffff;
  border-radius: 6px;
}

.plan-box-header {
  padding: 25px 30px 20px;
  margin-bottom: 30px;
}

ul.plan-features,
.plan-box-footer {
  padding: 0px 30px;
}

.popular .plan-box-header {
  background-color: #353535;
  border-radius: 6px;
}

.popular .plan-box-header .title,
.popular .plan-box-header .sub-title {
  color: #ffffff;
}

.plan-box .title {
  font-size: 20px;
  color: #14263f;
  margin-bottom: 12px;
}

.plan-box .sub-title {
  font-size: 11px;
  color: rgba(128, 128, 128, 0.7);
}

.plan-features li {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
}

.plan-features li i {
  color: #2fddb0;
  margin-right: 15px;
}

.plan-features li span {
  color: #14263f;
}

.plan-box-footer {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.plan-price {
  font-size: 20px;
  font-weight: 700;
}

.plan-price span:nth-of-type(1) {
  color: #14263f;
}

.plan-price span:nth-of-type(2) {
  color: #798196;
}

.cancel-text {
  font-size: 12px;
  color: #798196;
  margin: 9px 0 20px;
}

.plan-box-footer .btn-gradient-o {
  background: linear-gradient(
    90deg,
    rgba(9, 192, 248, 1) 0%,
    rgba(5, 100, 234, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid transparent;
  font-weight: 600;
  padding: 9px 19px;
  position: relative;
}

.plan-box-footer .btn-gradient-o::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 1px;
  background: linear-gradient(
    90deg,
    rgba(9, 192, 248, 1) 0%,
    rgba(5, 100, 234, 1) 100%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.plan-box-footer .btn-gradient {
  background: linear-gradient(
    45deg,
    rgba(9, 192, 248, 1) 0%,
    rgba(5, 100, 234, 1) 100%
  );
  border: none;
  color: #ffffff;
  padding: 11px 20px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 1px;
}

/* Testimonials */

.testimonials {
  margin-top: 150px;
}

.testimonials .sec-header h2 {
  font-size: 40px;
  color: #14263f;
}

.testimonials .sec-header p {
  color: #798196;
  font-size: 14px;
  width: 50%;
  margin: 10px auto;
}

.testimonials .sec-header {
  text-align: center;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 40px;
  margin-top: 50px;
}

.testimonial-cards .card {
  background-color: #ffffff !important;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  padding: 20px;
}
.testimonial-cards .card.active {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.testimonial-cards .card p:nth-of-type(1) {
  font-size: 12px;
}

.testimonial-cards .card .card-footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.testimonial-cards .card .card-footer img {
  margin-right: 15px;
}

.customer-details .customer-name {
  font-weight: 600;
  margin-bottom: 5px;
}

.customer-details .company {
  font-size: 11px;
}

/* Register Now */

section.register {
  /* height: 300px; */
  background-image: url("../images/register-sec-bg.svg");
  background-position: center right;
  background-size: cover;
  padding: 65px 0;
  margin-top: 100px;
}

section.register .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register .register-content {
  color: #ffffff;
  width: 50%;
}

.register .register-content h2 {
  font-size: 40px;
  font-weight: 600;
}

.register .register-content p {
  font-size: 13px;
  padding: 20px 220px 0 0;
}

.register .register-btn button {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 10px 20px;
  transition: all 0.3s;
}

.register .register-btn button:hover {
  background: linear-gradient(
    45deg,
    rgba(9, 192, 248, 1) 0%,
    rgba(5, 100, 234, 1) 100%
  );
  border: none;
  color: #ffffff;
  cursor: pointer;
}

/* Footer */
footer .container {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 50px;
}

footer .container .footer-logo {
  width: 40%;
}

footer .container div:not(:first-child) {
  width: 20%;
}

.footer-logo img {
  width: 85px;
  margin-bottom: 15px;
}

.footer-logo p {
  font-size: 12px;
  padding-right: 150px;
  color: #808080;
}

.footer-links-title {
  font-size: 18px;
  color: #14263f;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links li a {
  color: #808080;
  text-decoration: none;
  font-size: 12px;
}

.social-links div {
  display: flex;
  justify-content: space-between;
}

.social-links div img {
  width: 25px;
  margin-right: 5px;
}

/* Media Queries */

@media screen and (max-width: 968px) {
  .container {
    padding: 1%;
  }

  nav {
    width: 80%;
    margin: 50px auto;
  }

  nav img[alt="logo"] {
    width: 100px;
  }

  section.header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 100px;
  }

  section.quality-testing {
    flex-direction: column-reverse;
    row-gap: 100px;
  }

  section.tech-support {
    flex-direction: column;
    row-gap: 100px;
  }

  section.services .content-wrapper {
    flex-direction: column;
  }

  section.services .content-wrapper .heading,
  section.services .content-wrapper .description {
    width: 100%;
    text-align: center;
  }

  .all-services {
    grid-template-columns: repeat(2, 1fr);
  }

  .header .content-wrapper,
  .header .img-wrapper,
  .quality-testing .content-wrapper,
  .quality-testing .img-wrapper,
  .tech-support .content-wrapper,
  .tech-support .img-wrapper,
  .register .register-content {
    width: 70%;
    margin: auto;
    text-align: center;
  }

  .register .register-content p {
    padding: 0;
    margin: 25px 0;
  }

  section.register .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .navigation,
  .btn-gradient-o {
    display: none;
  }

  .btn-mobileMenu i {
    display: block;
  }

  section.header,
  section.quality-testing,
  section.tech-support,
  section.services,
  section.testimonials {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  section.pricing-plans h2 {
    font-size: 35px;
  }

  .plans {
    flex-wrap: wrap;
  }

  .header .content-wrapper,
  .header .img-wrapper,
  .quality-testing .content-wrapper,
  .quality-testing .img-wrapper,
  .tech-support .content-wrapper,
  .tech-support .img-wrapper,
  .register .register-content {
    width: 100%;
  }

  .section-img {
    height: 250px;
  }

  .heading {
    font-size: 35px;
  }

  .description {
    font-size: 12px;
    padding: 0 40px !important;
  }

  .all-services {
    grid-template-columns: 1fr;
  }

  .testimonials .sec-header h2 {
    font-size: 35px;
  }

  .testimonials .sec-header p {
    width: 80%;
    font-size: 12px;
  }

  .testimonial-cards {
    grid-template-columns: 1fr;
  }

  .register .register-content h2 {
    font-size: 35px;
  }

  footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  footer .container .footer-logo,
  footer .container div:not(:first-child) {
    width: 100%;
  }

  .footer-logo p {
    padding-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .heading {
    font-size: 30px;
  }

  .description {
    font-size: 12px;
    padding: 0 30px !important;
  }

  .testimonials .sec-header h2 {
    font-size: 30px;
  }

  .testimonials .sec-header p {
    width: 80%;
    font-size: 12px;
  }

  .register .register-content h2 {
    font-size: 30px;
  }

  .section-img {
    height: 210px;
  }
}
